body{
    width:100%;
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
body button:hover{
    color:rgb(39, 90, 219);
    background:white;
    border:2px solid rgb(39, 90, 219);
}
/*----------------------------------------------------- Styling Galley section------------------------------------------*/
header img{
    margin-top:30px;
    width:30px;
    height:30px;
}
.imgGallery{
    margin-top:20px;
    
    height:50vh;
    display:grid;
    grid-template-columns: 1fr 1fr; 
    
}

.fourImg{
   
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    height: 50%;
}
.imgGallery>img{
    display:block;
    margin-left:5px;
    width:97%;
    height:100%;
    border-radius:15px;
}
.fourImg img{
    width:19.9rem;
    height:11.4rem;
    border-radius:15px;
    
}
/*----------------------------------------------------- Styling first rating------------------------------------------*/
.firstRating{
    
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(5rem);
}
.firstRating div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.firstRating div h1,.firstRating div p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
}
.firstRating>div:nth-child(1) h1 {
   font-size:35px;
}
.firstRating div:nth-child(2)>p{
    font-size:1.1rem;
    border-radius:15px;
    padding:12px 15px;
    margin-right:5px;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 1px 4px;
}
/*----------------------------------------------------- Styling the slider------------------------------------------*/
 .Slider{
    transform: translateY(7rem);
    margin-bottom: 100px;
}
.Slider .keys{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:100px;  
    border-bottom:1px solid rgb(61, 61, 61);
}
.Slider .keys p:first-child{
    margin-left:2rem;
    font-weight:700;
}
.screen>div{
width:500px;
min-height:250px;
  
 display:grid;
 grid-template-columns: 1fr 1fr;
 gap:40px;
} /*
 .screen div div{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}*/
.screen div>div>div{
   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
      }

/*----------------------------------------------------- Styling the cards------------------------------------------*/
.cardList{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}
.card{
    width:24%;
    /* background:cornflowerblue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    line-height: 3px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 1px 10px;
    margin-bottom: 100px;
}
.card p{
    font-size:15px;
}
 .card>img:first-child{
    width:95%;
    height:10rem;
    align-self: center;
    margin-top:10px;
    border-radius:20px
} 
.card div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}
.card button{
    width:95%;
    background: rgb(28, 127, 219);
    border-radius:20px;
    height:40px;
    font-size:16px;
    border:none;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom:5px;
}
/*----------------------------------------------------- Styling the reviews------------------------------------------*/
.firstReviews{
    width:100%;
    height:80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 

}
.firstReviews .reviews{
    width:25%;
    height:100%;
    
} 
/* .SecondRating{
    background: pink;
} */
.reviews div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    
}
.firstReviews .reviews h1:nth-child(2){
    font-weight: 500;
    font-size:30px;
}
.reviews div span{
    position:relative;
}
.reviews div div{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
.reviews div div p:nth-child(2){
    font-size:18px;
    animation:show 2s ease;
}
/* --------------------------------------------------firt bar---------------------------------------------------------- */
.bar{
    position:relative;
    
    
    width:50%;
    height:10px;
    border-radius:12px;
    
}
.bar::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10px;
    border-radius:12px;
    background:rgb(28, 127, 219);
    animation: loading 2s ease ;
}
/* --------------------------------------------------second bar---------------------------------------------------------- */
.bar1{
    position:relative;
    
    
    width:50%;
    height:10px;
    border-radius:12px;
    
}

.bar1::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:70%;
    border-radius:12px;
    height:10px;
    background:rgb(28, 127, 219);
    animation: loading1 2s ease ;
}
/* --------------------------------------------------third bar--------------------------------------------------------- */
.bar2{
    position:relative;
    
    
    width:50%;
    height:10px;
    border-radius:12px;
    
}

.bar2::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:90%;
    height:10px;
    border-radius:12px;
    background:rgb(28, 127, 219);
    animation: loading2 2s ease ;
}
/* --------------------------------------------------fourth bar--------------------------------------------------------- */
.bar3{
    position:relative;
    
    
    width:50%;
    height:10px;
    border-radius:12px;
    
}

.bar3::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:10px;
    border-radius:12px;
    background:rgb(28, 127, 219);
    animation: loading3 2s ease ;
}
.bar4{
    position:relative;
    
    
    width:50%;
    height:10px;
    border-radius:12px;
    
}

.bar4::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:90%;
    height:10px;
    border-radius:12px;
    background:rgb(28, 127, 219);
    animation: loading4 2s ease ;
}
/* .reviews div div>p:nth-child(2){
    align-self: flex-end;
} */
.reviews span{
    width:97%;
    height:10px;
    background:rgb(211, 211, 211);
}

.firstReviews .comments{
    width:70%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly; 
    gap:15%;
}
.SecondRating{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    
    box-shadow: rgba(0, 0, 0, 0.26) 2px 1px 4px;
}
.SecondRating div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.SecondRating div h1{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    font-size:18px;
}
.SecondRating div p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    font-size:15px;
}
.SecondRating div:nth-child(2)>p{
    font-size:1.1rem;
    border-radius:15px;
    padding:12px 15px;
    margin-right:5px;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 1px 4px;
}
@keyframes loading{
    0%{
        width:1%;
    }  
    100%{
        width:100%;
    }  
  }
@keyframes loading1{
    0%{
        width:1%;
    }  
    100%{
        width:70%;
    }  
  }
@keyframes loading2{
    0%{
        width:1%;
    }  
    100%{
        width:90%;
    }  
  }
@keyframes loading3{
    0%{
        width:1%;
    }  
    100%{
        width:80%;
    }  
  }
@keyframes loading4{
    0%{
        width:1%;
    }  
    100%{
        width:90%;
    }  
  }
@keyframes show{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
/*---------------------------------------media queries-------------------*/
@media screen and (max-width:1000px){
    .imgGallery{
        margin-top:20px;
        
        height:50%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ; 
        
    }
    .fourImg{
        margin-top:50px;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap:10px;
        height: 50%;
    }
    .fourImg img{
    width:14rem;
    height:11.4rem;
    border-radius:15px;
    
}
.cardList{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-evenly;
    align-items: center; 
}
.card{
    width:90%;
    /* background:cornflowerblue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    line-height: 15px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 1px 10px;
    margin-left:20px;
    margin-bottom: 100px;
}

.firstReviews{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

}
.firstReviews .reviews{
    width:75%;
    height:100%;
    margin-bottom:50px;
}

.firstReviews .comments{
    width:90%;
    height: 100%;
    
    
}
.SecondRating div h1{
    
    line-height: 15px;
    
}
.SecondRating div p{
    
    line-height: 15px;
    
}

}